<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addnote.css">
    <title>DO-it | v1</title>
</head>

<body>
    <div class="back">

        <div class="link">
            <a href="/" style="color:#707070">Go back</a>
        </div>
        {{#if alert}}
        <p class="succesmessage">{{alert}}</p>
        {{/if}}

        {{#each rows}}
        <form action="/editnote/{{this.id}}" method="post" class="form2">
            <input type="text" name="title" id="title"  value="{{this.title}}" placeholder="Title" autocomplete="off" autofocus>
            <textarea type="text" name="note" id="note"  placeholder="Note..." autocomplete="off">{{this.note}}</textarea><br>
            <button type="submit" id="submitNote" name="submitNote">submit note</button>
        </form>
        {{/each}}
    
    </div>


</body>

</html>